@import "tailwindcss";

:root {
  /* Brand & Accents */
  --primary: 20 20 20;
  /* Almost Black */
  --primary-foreground: 255 255 255;
  --accent: 79 70 229;
  /* Indigo 600 */
  --accent-foreground: 255 255 255;

  /* Backgrounds */
  --background: 250 250 250;
  /* Light Gray */
  --surface: 255 255 255;
  --surface-raised: 255 255 255;

  /* Text */
  --foreground: 15 23 42;
  /* Slate 900 */
  --muted-foreground: 100 116 139;
  /* Slate 500 */

  /* UI Elements */
  --border: 226 232 240;
  /* Slate 200 */
  --radius: 0.75rem;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}